body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
 monospace;
}

.containerLoader {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerLoader .pointer {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.000s ease-in;
  transition: 0.000s ease-in;
  z-index: 6;
  mix-blend-mode: difference;
}

.containerLoader .thumb {
  background-color: #eeeeee;
}

.containerLoader .thumb .containerPost {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-inline-grid;
  display: inline-grid;
}

.containerLoader .thumb .containerPost .mainCont {
  padding-top: 1em;
}

.containerLoader .thumb .containerPost .inlineClass {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerLoader .thumb .containerPost .leftSide {
  text-align: left;
  margin: 1em;
}

.containerLoader .thumb .containerPost .chartsContainer {
  margin: 1em;
}

.containerLoader .thumb .containerPost .title {
  font-size: 42px;
  margin: 1em;
  height: 30%;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .containerLoader .thumb .containerPost .title {
    font-size: 32px;
  }
}

.containerLoader .thumb .containerPost .containerTitle {
  height: 100px;
}

.containerLoader .thumb .containerPost .containerTitle .title {
  font-size: 42px;
  margin: 1em;
  height: 30%;
  width: 100%;
}

.containerLoader .thumb .containerPost .containerInfoMain {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerLoader .thumb .containerPost .containerInfoMain .containerInfo {
  height: auto;
  width: 600px;
}

.linkTo {
  padding: 0;
  color: #424242;
}

.col-main {
  text-align: center;
}

.col-main:hover .span-name-main {
  color: red;
}

.menu-div {
  height: 65px;
}

.menu-div .text-to-small-smartphone {
  display: none;
}

@media screen and (max-width: 400px) {
  .menu-div {
    background-color: transparent;
  }
  .menu-div .text-to-small-smartphone {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 42px;
    font-weight: 600;
    margin-top: 2em;
  }
  .menu-div nav.navbar {
    display: none;
  }
}

@media screen and (max-width: 2000px) {
  .container-main-own {
    width: 1200px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .container-main-own .row-main-own {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
  }
}

@media screen and (max-width: 400px) {
  .container-main-own {
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  .container-main-own .row-main-own {
    display: -ms-grid;
    display: grid;
    width: 380px;
    padding: 5em;
  }
}

.content-main-own {
  margin: 1em;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

@media screen and (max-width: 400px) {
  .content-main-own {
    padding: 2em;
    margin: 0;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */