body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.containerLoader {
  text-align: center;
  align-items: center;
}

.containerLoader .pointer {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.000s ease-in;
  z-index: 6;
  mix-blend-mode: difference;
}

.containerLoader .thumb {
  background-color: #eeeeee;
}

.containerLoader .thumb .containerPost {
  justify-content: center;
  align-content: center;
  display: inline-grid;
}

.containerLoader .thumb .containerPost .mainCont {
  padding-top: 1em;
}

.containerLoader .thumb .containerPost .inlineClass {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.containerLoader .thumb .containerPost .leftSide {
  text-align: left;
  margin: 1em;
}

.containerLoader .thumb .containerPost .chartsContainer {
  margin: 1em;
}

.containerLoader .thumb .containerPost .title {
  font-size: 42px;
  margin: 1em;
  height: 30%;
  width: 100%;
}

.containerLoader .thumb .containerPost .containerTitle {
  height: 100px;
}

.containerLoader .thumb .containerPost .containerTitle .title {
  font-size: 42px;
  margin: 1em;
  height: 30%;
  width: 100%;
}

.containerLoader .thumb .containerPost .containerInfoMain {
  display: inline-flex;
  justify-content: center;
}

.containerLoader .thumb .containerPost .containerInfoMain .containerInfo {
  height: auto;
  width: 600px;
}

.linkTo {
  padding: 0;
  color: #424242;
}
